a_difference_problem/difference
two_integral_problem/simpson_22
two_integral_problem/trape_2a
two_integral_problem/trape_2b
two_integral_problem/trape_2c
two_integral_problem/trape_2d
a_difference_problem/tempCodeRunnerFile.c
a_difference_problem/tempCodeRunnerFile
